<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Academic Gateway</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">

        <div class="jumbotron">
          <h1 class="display-4">Academic Gateway</h1>
          <p class="lead">This hosting platforms acts as a home to many apps to make student lives easier. See our apps below! Sign-up and login to use them!</p>
          <hr class="my-4"></hr>

          <div class="row justify-content-around">
            <div class="col-sm-5">
              <form>
                <div class="form-group">
                  <label for="signupUsername">Username:</label>
                  <input type="text" id="signupUsername" class="form-control" name="username" placeholder="Username"></input>
                </div>
                <div class="form-group">
                  <label for="signupPassword">Password:</label>
                  <input type="password" id="signupPassword" class="form-control" name="password" placeholder="Password"></input>
                </div>

                <input type="submit" id="signupSubmit" class="btn btn-warning" value="Sign Up"></input>
              </form>
            </div>

            <div class="col-sm-5">
              <form>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" id="username" class="form-control" name="username" placeholder="Username"></input>
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" id="password" class="form-control" name="password" placeholder="Password"></input>
                </div>

                <input type="submit" id="loginSubmit" class="btn btn-primary" value="Sign In"></input>
              </form>
            </div>
          </div>
        </div>
    </div>



    <script>
      $("#loginSubmit").click(function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/login",
          data: JSON.stringify({password: $('#password').val(), username: $('#username').val()}),
          success: function(data, textStatus, request){
            $('#password').val("");
            $('#username').val("");
            alert("Success! Logged in.");
          },
          error: function (request, textStatus, errorThrown) {
            $('#password').val("");
            alert("Failure! Please try again\n"+ errorThrown);
          },
          dataType: "json",
          contentType : "application/json"
        });
      });
      $("#signupSubmit").click(function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/users/sign-up",
          data: JSON.stringify({password: $('#signupPassword').val(), username: $('#signupUsername').val()}),
          success: function(data, textStatus, request){
            $('#password').val($('#signupPassword').val());
            $('#username').val($('#signupUsername').val());
            $("#loginSubmit").click();
            $('#signupPassword').val("");
            $('#signupUsername').val("");
            alert("Success! Signed up.");
          },
          error: function (request, textStatus, errorThrown) {
            $('#signupPassword').val("");
            alert("Failure! Please try again\nPlease try a different username.\n" + errorThrown);
          },
          dataType: "json",
          contentType : "application/json"
        });
      });
    </script>
  </body>
</html>