<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"></link>
    <title>Grade Calculator</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Academic Gateway</a>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2 th:text="${'Welcome, '+user.getUsername()+'!'}"></h2>
                    <p>
                        Click on any module name below to view the associated assignments. Or, click 'Add New Module'. Only completed modules will count towards your current credit total.
                    </p>
                    <p>
                        The numbers below show your current average, alongside the average you'd need to maintain to reach a pass, 2:2, 2:1 or 1st class degree.
                    </p>
                    <p th:text="${'Credits: '+user.getCredits()+'/'+user.getTotalCredits()}"></p>
                    <p th:with="targets=${user.getTargets()}">
                        <span th:text="${'Current Average: '+user.getAverage()+' | To Pass: '+targets[0]+' | To 2:2: '+targets[1]+' | To 2:1: '+targets[2]+' | To 1st: '+targets[3]}"></span>
                    </p>

                    <div id="modules-card">
                        <div class="card" th:each="m, ind : ${modules}">
                            <div class="card-header row" th:object="${m}">
                                <a class="card-link collapsed col-md-8" data-toggle="collapse" data-parent="#modules-card"
                                   th:href="${'#card-element-' + ind.count}" th:text="*{getModuleName()+' ('+getCredits()+' Credits)'}"></a>

                                <button type="button" class="btn btn-primary col-md-2 float-right" data-toggle="modal" data-target="#editM"
                                        th:attr="data-module_id=*{getId()}, data-module_name=*{getModuleName()},
                                        data-module_credits=*{getCredits()}">Edit Module</button>
                                <a th:href="@{/delete_module(moduleId=*{getId()}, userId=${user.getId()})}" class="btn btn-danger col-md-2">Delete</a>
                            </div>
                            <div th:id="${'card-element-' + ind.count}" class="collapse pl-4">
                                <div class="card" th:each="g : ${m.getGrades()}">
                                    <span class="card-header row" th:object="${g}">
                                        <p class="col-md-10" th:text="*{getName()+' ('+getWeight()+'%) - '+getGrade()+'/'+getMaxGrade()+' ('+getPercentage()+'%)'}"></p>

                                        <button type="button" class="btn btn-primary col-md-1" data-toggle="modal" data-target="#editG"
                                                th:attr="data-grade_id=*{getId()}, data-parent_id=${m.getId()},
                                                data-ass_name=*{getName()}, data-ass_grade=*{getGrade()}, data-ass_max=*{getMaxGrade()},
                                                data-ass_weight=*{getWeight()}, data-remaining=${m.getRemaining()}">
                                            Edit</button>

                                        <a th:href="@{/delete_grade(gradeId=*{getId()}, moduleId=${m.getId()})}" class="btn btn-danger col-md-1">Delete</a>
                                    </span>
                                </div>
                                <div class="card" th:object="${m}">
                                    <p class="card-header"
                                       th:text="*{'Current grade: '+getContributed()+', weighted average: '+getAverage()+'%'+' with '+getRemaining()+'% remaining'}"></p>
                                    <button id="addGradeBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editG"
                                            th:attr="data-parent_id=*{getId()}, data-remaining=*{getRemaining()}"
                                            th:disabled="*{getRemaining() > 0 ? false : true}">Add Grade</button>
                                </div>
                            </div>
                        </div>
                        <button id="addModuleBtn" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editM">Add New Module</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editM" tabindex="-1" role="dialog" aria-labelledby="editMLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="moduleLabel">Edit MODULE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editModule" action="#" th:action="@{/updm}" th:object="${newm}" method="post">
                        <input type="hidden" id="module-id" th:field="*{id}"></input>
                        <div class="form-group">
                            <label for="module-name" class="col-form-label">Module Name:</label>
                            <input type="text" class="form-control" id="module-name" th:field="*{moduleName}" required="required"></input>
                        </div>
                        <div class="form-group">
                            <label for="module-credits" class="col-form-label">Credits:</label>
                            <input type="number" class="form-control" id="module-credits" th:field="*{credits}" required="required"
                            min="0"></input>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit"/>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editG" tabindex="-1" role="dialog" aria-labelledby="editGLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gradeLabel">Edit GRADE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editGrade" action="#" th:action="@{/updg}" th:object="${newg}" method="post" data-rem_weight="100">
                        <input type="hidden" id="grade-id" th:field="*{id}"></input>
                        <input type="hidden" id="grade-parent-id" th:field="*{parentId}"></input>
                        <div class="form-group">
                            <label for="ass-name" class="col-form-label">Assignment name:</label>
                            <input type="text" class="form-control" id="ass-name" th:field="*{name}" required="required"></input>
                        </div>
                        <div class="form-group">
                            <label for="ass-max" class="col-form-label">Max Grade:</label>
                            <input type="number" class="form-control" id="ass-max" th:field="*{maxGrade}" required="required"
                                   min="0"></input>

                            <label for="ass-grade" class="col-form-label">Grade:</label>
                            <input type="number" class="form-control" id="ass-grade" th:field="*{grade}" required="required"
                                   min="0" max="1000"></input>
                        </div>
                        <div class="form-group">
                            <label for="ass-weight" class="col-form-label">Weight:</label>
                            <input type="number" class="form-control" id="ass-weight" th:field="*{weight}" required="required"
                                   min="0" max="100"></input>
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit"/>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" th:src="@{/js/populateForms.js}"></script>

</body>
</html>