<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"></meta>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Academic Gateway</a>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Academic Gateway</h1>
        <h4 th:text="${message}"></h4>
        <p class="lead">This hosting platforms acts as a home to many apps to make student lives easier. See our apps
            below! Sign-up and login to use them!</p>
        <hr class="my-4"></hr>

        <div class="row justify-content-center pt-5">

            <div th:if="${!loggedIn}">
                <div class="col-sm-6">
                    <a class="btn btn-warning btn-lg" href="/users/sign-up">Sign Up</a>
                </div>
            </div>


            <div th:if="${!loggedIn}">
                <div class="col-sm-6">
                    <a class="btn btn-primary btn-lg" href="/users/sign-in">Sign In</a>
                </div>
            </div>

            <div th:if="${loggedIn}">
                <div class="col-sm-6">
                    <a class="btn btn-danger btn-lg" href="/upload">Upload App</a>
                </div>
            </div>

            <div th:if="${loggedIn}">
                <div class="col-sm-6">
                    <a class="btn btn-info btn-lg" href="/peanut_bank">Peanut Bank</a>
                </div>
            </div>


        </div>

    </div>

    <div class="row justify-content-around">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <th scope="col">App Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Link</th>
                </thead>
                <tbody>
                    <tr scope="row" th:each="app : ${apps}">
                        <td th:text="${app.name}">
                        </td>
                        <td th:text="${app.description}">
                        </td>
                        <td>
                            <a class="btn btn-lg btn-primary" th:href="${app.name}" th:text="${app.name}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<script>
</script>
</body>
</html>