<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"></link>
    <title>Grade Calculator</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Cloud</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Hello, world!
                </h2>
                <p th:text="${'Credits: '+user.getCredits()+'/'+user.getTotalCredits()}"></p>
                <p th:with="targets=${user.getTargets()}">
                    <span th:text="${'Current Average: '+user.getAverage()+' | To Pass: '+targets[0]+' | To 2:2: '+targets[1]+' | To 2:1: '+targets[2]+' | To 1st: '+targets[3]}"></span>
                </p>

                <div id="modules-card">
                    <div class="card" th:each="mg, ind : ${moduleGrades}">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" data-parent="#modules-card"
                               th:href="${'#card-element-' + ind.count}" th:text="${mg.getModuleName() + ' (' + mg.getCredits() + ' Credits)'}"></a>
                        </div>
                        <div th:id="${'card-element-' + ind.count}" class="collapse pl-4">
                            <div class="card" th:each="g : ${mg.getGrades()}">
                                <p class="card-header"
                                   th:text="${g.getName()+' ('+g.getWeight()+'%) - '+g.getGrade()+'/'+g.getMaxGrade()+' ('+g.getPercentage()+'%)'}"></p>
                            </div>
                            <div class="card">
                                <p class="card-header"
                                   th:text="${'Current grade: '+mg.getContributed()+', weighted average: '+mg.getAverage()+'%'+' with '+mg.getRemaining()+'% remaining'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>